django>=1.5.1

# Documentation
# -------------------------------------
isort==3.9.6

# Testing
# -------------------------------------
coverage
coveralls
mock==1.0.1
factory_boy==2.5.1
flake8==2.4.0
tox>=1.7.0
responses==0.3.0
pytest-django==2.8.0
pytest-pythonpath==0.6
git+git://github.com/mverteuil/pytest-ipdb.git

# Debugging
# -------------------------------------
ipython==3.1.0
ipdb==0.8
