# Documentation
# -------------------------------------
isort==3.9.6

# Testing
# -------------------------------------
flake8==2.4.0
coverage==4.0a5

# Debugging
# -------------------------------------
ipython==3.1.0
ipdb==0.8
